@charset "utf-8";
/* CSS Document */
#sectionWrapper #sectionContentWrapper .female-model{
	width:1000px;
	height:auto;
	position:relative;
	margin:50px 0 0 0;
	float:left;
}
#sectionWrapper #sectionContentWrapper .female-model header h2{
	font-size:60px;
	font-family:'Impact' , sans-serif;
	color:#fff;
	text-shadow:1px 1px 0px #333333;
	letter-spacing:1px;
}
#sectionWrapper #sectionContentWrapper .female-model header h2 span{
	color:#89251d;
}
#sectionWrapper #sectionContentWrapper .female-model article{
	width:950px;
	height:auto;
	position:relative;
	border-top:10px solid #89251d;
	background:url(../../common/img/bg/transparent-bg.png);
	margin:40px 0 0 0;
	padding:25px;
}
#sectionWrapper #sectionContentWrapper .female-model article .point{
	width:34px;
	height:17px;
	position:absolute;
	top:-27px;
	left:60px;
	background:url(../img/top-arrow.png) no-repeat;
}
#sectionWrapper #sectionContentWrapper .female-model article .list-model{
	list-style:none;
}
#sectionWrapper #sectionContentWrapper .female-model article .list-model li{
	width:180px;
	height:245px;
	float:left;
	margin:5px;
}
#sectionWrapper #sectionContentWrapper .female-model article .list-model li a{
	display:block;
}


